#root {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/tauri plugin.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3 {
    color: #FFFFFF;
}